In [1]:
import numpy as np
import math
from matplotlib import pylab as plt
from ROOT import TTree, TFile, TH2D, TCanvas, TH1F, gROOT
from root_numpy import array2hist, hist2array, fill_hist, tree2array, root2array, list_trees
import pandas as pd
from root_pandas import read_root
import uproot

filename="../output/ClusterAllOne_main_phs1_gamma.root"
ur=uproot.pandas.iterate(filename, "PhaseSpace", ['X','Y','dX','dY','Weight','Ekine'])
mylist=list(ur)        
dfg=pd.concat(mylist, ignore_index=True, sort=False  ,copy = False)
dfg

Welcome to JupyROOT 6.18/04

                 X          Y        dX        dY  Weight     Ekine
0         7.745555  33.900475  0.027965  0.110733    0.02  1.294540
1       -15.885567   1.441819 -0.105529 -0.107114    0.02  0.179599
2       -33.082150 -21.007013 -0.115627 -0.064948    0.02  0.365922
3       -29.648487   5.904973 -0.098983  0.019644    0.02  2.097062
4       -16.256226  22.490566 -0.044837  0.074441    0.02  4.469789
...            ...        ...       ...       ...     ...       ...
9581273 -18.817736  -2.264067 -0.058952 -0.003411    0.02  3.646546
9581274  30.262600 -23.615673  0.302682  0.082381    0.02  0.077270
9581275  -2.645104  -5.193656 -0.011860 -0.017167    0.02  1.830901
9581276 -24.675842 -19.192984  0.078867 -0.044714    0.02  0.933231
9581277  28.068842   8.190092  0.094253  0.033674    0.02  1.701313

[9581278 rows x 6 columns]

In [2]:
dfg['Weight'].value_counts()

0.0200    9502899
1.0000      78311
0.0004         68
Name: Weight, dtype: int64